<nav class="tabbar" aria-label="主导航">
  <button class="tabbar__item" type="button" data-page="home">
    <span class="tabbar__icon">
      <img class="tabbar__icon-img tabbar__icon-img--normal" src="assets/icons/tab-home-normal.svg" alt="首页" />
      <img class="tabbar__icon-img tabbar__icon-img--active" src="assets/icons/tab-home-active.svg" alt="首页" />
    </span>
    <span class="tabbar__label">首页</span>
  </button>
  <button class="tabbar__item" type="button" data-page="order">
    <span class="tabbar__icon">
      <img class="tabbar__icon-img tabbar__icon-img--normal" src="assets/icons/tab-order-normal.svg" alt="订单" />
      <img class="tabbar__icon-img tabbar__icon-img--active" src="assets/icons/tab-order-active.svg" alt="订单" />
    </span>
    <span class="tabbar__label">订单</span>
  </button>
  <!-- 中间凸起"亮码卖货"主按钮 -->
  <button class="tabbar__item tabbar__item--main" type="button" data-page="code">
    <span class="tabbar__main-btn">
      <img class="tabbar__main-icon" src="assets/icons/tab-qr.svg" alt="亮码卖货" />
    </span>
    <span class="tabbar__label">亮码卖货</span>
  </button>
  <button class="tabbar__item" type="button" data-page="flow">
    <span class="tabbar__icon">
      <img class="tabbar__icon-img tabbar__icon-img--normal" src="assets/icons/tab-flow-normal.svg" alt="收支" />
      <img class="tabbar__icon-img tabbar__icon-img--active" src="assets/icons/tab-flow-active.svg" alt="收支" />
    </span>
    <span class="tabbar__label">收支</span>
  </button>
  <button class="tabbar__item" type="button" data-page="mine">
    <span class="tabbar__icon">
      <img class="tabbar__icon-img tabbar__icon-img--normal" src="assets/icons/tab-mine-normal.svg" alt="我的" />
      <img class="tabbar__icon-img tabbar__icon-img--active" src="assets/icons/tab-mine-active.svg" alt="我的" />
    </span>
    <span class="tabbar__label">我的</span>
  </button>
</nav>
